html, body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
  height: 100%;
}

h1, h4 {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.search-box {
  border-radius: 5px;
  color:black;
}

.class-pane {
  margin-bottom: 10px;
  border: 3px;
  border-style: solid;
  border-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #22222a;
}

#rank-select {
  border-radius: 5px;
  color:black;
}

/*.container {
  min-height: 100%;
}*/
.fill {
    min-height: 100%;
    background-color: #3c3b49;
}

.char-pane {
  padding-bottom: 20px;
  padding-top: 20px;
  border: 3px;
  border-style: solid;
  border-color: black;
  background-color: #3c3b49;
  margin: 20px 20px 20px 20px;
  color: #fff;
  -webkit-animation-duration: 2s;
}

.avatar {
  border: 2px;
  border-style: solid;
  border-color: black;
}

#logo {
  max-width: 80%;
  width: 500px;
  text-align: center;
  margin-top:20px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
}

#c1 {
  color: #C79C6E;
}

#c2 {
  color: #F58CBA;
}

#c3 {
  color: #ABD473;
}

#c4 {
  color: #FFF569;
}

#c5 {
  color: #FFFFFF;
}

#c6 {
  color: #C41F3B;
}

#c7 {
  color: #0070DE;
}

#c8 {
  color: #69CCF0;
}

#c9 {
  color: #9482C9;
}

#c10 {
  color: #00FF96;
}

#c11 {
  color: #FF7D0A;
}

#c12 {
  color: #A330C9;
}
